* {
    box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/paytone_one/PaytoneOne.ttf);
    //src: url(../fonts/typographica/TypoGraphica.otf);
}

html,
body {
    color: $steel;
    background-color: $white;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    line-height: 1.66;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong {
    font-family: myFirstFont;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    height: 100vh;
    background-size: 100%;
    background: no-repeat center right fixed url(../images/bassBW1.jpg);
    background-size: cover;
    margin: none;
    padding: none;

    .container {
        position: relative;
        top: 40%;
        z-index: 4;
        // text-align: center;
        font-size: 100px;
    }

    .overlay {
        background-color: rgba( $steel, .5 );
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 2;
    }
}

// #profile {
//     padding: 40px 180px;
//
//     .img-circle {
//         width: 100%;
//         border-radius: 50%;
//         border: 5px solid $screen;
//     }
// }

.wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: $steel;
    color: $white;
    text-aligh: center;
}

header {
    background: linear-gradient($steel 75%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

header label {
    color: $white;
    cursor: pointer;
    display: inline-block;
    line-height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 1em;
}

header label:hover {
    background: darker($white);
}

.title {
    // font-family:
    font-size: 5em;
    // text-shadow:
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-image: url();
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s east-out;
}

.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}

[id^="slide"]:checked + .slide h1 {
    opacity: 1,inherit;
    transform: translateY(0);
    transition: all .5s .5s;
}
